
@import "./mixins/mixins.scss";

@include b(plain-card){
  padding: 33px 32px 33px 8px;
  background: #FFFFFF;
  box-shadow: 0px 0px 9px 0px rgba(0, 52, 99, 0.16);
  border-radius: 8px;
  border: 1px solid #D4D7D9;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include e(header){
   display: flex;
   justify-content: space-between;
   align-items: center;
  }
  @include e(subHeader){
    font-size: 14px;
    color: #676B6F;
  }

  @include e(icon) {
    font-size: 42px;
    color: #57C0F9;
  }

  @include e(title) {
    font-family: MicrosoftYaHei-Bold;
    font-weight: 700;
    font-size: 20px;
    color: #333333;
  }

  @include e(des){
   font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #676B6F;
    letter-spacing: 0;
    line-height: 20px;
  }
  @include e(img){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 72px;
    height: 72px;
    background: #EBF1FE;
    box-shadow: 0 7px 20px 0 #31383f14;
    border-radius: 6.67px;
  }
  @include e(container){
    font-size: 14px;
    padding-left: 8px;
  }
}

